@import url("https://fonts.googleapis.com/css2?family=Glegoo&display=swap");

.close-btn-booking {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  width: 40px;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  z-index: 2;
  padding: 0;
}

.header-title {
  background-color: #c3c8b3;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-title h1 {
  font-size: 18px;
  font-weight: bold;
}

.floating-container {
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

.floating-booking img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
  border-radius: 5px;
}

.floating-description {
  padding: 15px;
}

.booking-section,
.ydelser-section {
  background-color: #c3c8b3;
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
}

.button-group {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.button-group-ydelser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0px;
}

.option-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 2px solid #000;
  color: #000;
}

.option-btn.selected {
  background-color: #222222;
  color: white;
}

.option-btn:focus,
.book-btn:focus,
.time-btn:focus {
  outline: none; /* Remove blue outline when focused */
}

.services-title,
.session-title {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  color: #000;
}

/* Calendar container */
.custom-calendar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.react-datepicker {
  border: none;
}

.react-datepicker__header {
  background-color: #222222;
  color: white;
  border: none;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #222222 !important;
  color: #fff;
  border-radius: 50%;
}

.react-datepicker__day {
  border-radius: 50%;
  margin: 5px;
}

.react-datepicker__day:hover {
  background-color: #c3c8b3;
  color: #222222;
}

/* Month and Year Header Text */
.react-datepicker__current-month {
  color: white !important;
}

/* Weekday Names (Su, Mo, Tu, etc.) */
.react-datepicker__day-name {
  color: white !important;
}

/* Time Slots */
.time-slots {
  text-align: center;
}

.time-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.time-btn {
  background-color: #f0f0f0;
  color: #222222;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.time-btn.selected {
  background-color: #222222;
  color: #fff;
}

.time-btn:hover {
  background-color: #c3c8b3;
  color: #222222;
  border-color: #222222;
}

/* Book Button */
.book-btn {
  background-color: #222222;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.book-btn:hover {
  background-color: #444444;
}
